h1 {
  font-weight: 500;
  letter-spacing: 5px;
  color: deeppink;
  text-align: center;
}

#colors {
  display: flex;
  flex-direction: column;
  
  align-items: center;
  text-align: center;
}

span {
  text-transform: uppercase;
  text-align: center;
  width: 100px;
  height: 100px;
  
  font-size: 12px;
  border-radius: 50%;

  display: inline-block;
  line-height: 100px;
}

.color1 {
    background-color: #f62f5e;
}

.color2 {
  background-color: #f1ad3d; 
}

.color3 {
  background-color: #6ebdca;
}

.color4 {
  background-color: #eefc91;
}

.color5 {
  background-color: #F7ECEB; 
}

.details {
  font-size: 16px;
  color: silver;
  font-style: italic;
}

h2 {
  font-family: "Oswald";
  font-weight: 600;
  font-size: 36px;
}

h3 {
  font-family: "Oswald";
  font-weight: 500;
  font-size: 24px;
}

h4 {
  font-family: "Oswal";
  font-weight: 400;
  font-size: 16px;
}

.bodytext {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
}

.asidetext {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 12px;
}