header {
    background-image: url('images/chicago.jpg');
    width: 1600px;
    height: 1000px;
    margin-bottom: 12px;
}
header div {
    padding: 150px;
}
header div h1 {
    color: aliceblue;
    font-size: 75px;
}

header div p {
    font-size: 30px;
}

header div a {
    color: white;
    font-size: 30px;
    padding: 15px;
    background-color: rgb(255, 10, 51);
    border-radius: 10px;
}

main div:first{
    margin-left: 30px;
}
.box{
    display: inline-block;
    width: 470px;
    height: 200px;
    border-radius: 15px;
    margin-right: 50px;
}
main div:last-child{
    margin-right: 30px;
}
.box:nth-child(1) {
    background-color: rgb(21, 131, 21);
}
.box:nth-child(2) {
    background-color: rgb(61, 8, 92);
}
.box:nth-child(3) {
    background-color: rgb(4, 45, 121);
}
.box h3 {
    color: white;
    text-align: center;
    font-size: 40px;
}

.box p {
    color: rgb(189, 189, 189);
    text-align: center;
    font-size: 20px;
}

.box p.dollar {
    margin: 20px;
    border-bottom:2px solid rgb(189, 189, 189);
}