
.img_title{
    display:block;
    width:100%;
    height:100%;
}

ul.title_list {
    height: 100%;
    margin-top: 100px;
    margin: 0; 
    padding: 0px;
}

ul.title_list li {
    display: inline; 
}
